@import "./styles/reset.scss";
@import "./styles/inputs.scss";
@import "./styles/map.scss";
@import "./styles/modal.scss";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 230, 230)
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
    color: gray;


    h1 {
        font-size: 28px;
        font-weight: 600;
    }

    i {
        padding: 10px;
        font-size: 30px;
        color: gray;
        cursor: pointer;
    }
}